.navbar{
    position: fixed;
    z-index: 3;
    width:100%;
    background: transparent;
    transition: all 0.5s ease-in-out;
}
@media(min-width:992px){
    .navbar-brand{
        font-size:2rem;
    }
    .nav-item a{
        font-size:1.5rem;
        font-weight: 100;
    }
}

.navColor{
    background: white;  
}
@media(max-width:767px){
    .navbar{
        background: white;
    }
}
@media(max-width:558.98px){
    .element1{
        height:1200px; 
    }               
}
.element1{
    height:1800px;
    display: flex;
    justify-content: center;
    background:#ddd;
    background-image: url(images/image6.jpg);
    background-size: cover;
    .wrap1{
        width:1000px;
        background-image: url(images/background.svg);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
            @media(min-width:1200px){
                >h1{
                    font-size: 10.5rem !important;
                }               
            }
            @media(max-width:767.98px){
                >h1{
                    font-size: 5rem !important; 
                }               
            }
            @media(max-width:558.98px){
                >h1{
                    font-size: 3rem !important; 
                }               
            }
            >h1{
                margin-top:15rem;
                font-size: 7rem;
                color: white;
                text-align: center;
            }
            >p{
                text-align: center;
                color: white;
                font-weight: 300;
                margin:0 auto;
                width:70%;
            }
            >button{
                margin:0 auto;
                width:100px;
                background-color: #f1ae45;
                border-color: #bdbbbb;
                margin:1rem auto;
                padding:0.5rem 1rem;
                font-weight: 300;
                transition: all 0.5s ease-in-out;
                &:hover{
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
                }
            }
        
    }

    .wrap1a{
        max-width:800px;
        padding:4rem;
        margin-left: auto;
        margin-right: auto;
        background:rgba(0, 0, 0, 0.719);
        h1{
            color:white;
            font-weight: 300;
            line-height:1;
            border-left: 2px solid #f1ae45;
            padding-left: 0.5rem;
            text-align: left;
            font-size:3.5rem;
            margin-top:4rem;
        }
        p{
            color:white;
            font-weight: 300;
            font-size: 1.5rem;
            text-align: left;
            margin: 0 1rem;
            margin-bottom: 4rem;
            width:100%;
        }
    }
    @media(max-width:767px){
        .wrap1a{
            h1{
                font-size: 2rem !important;
            }
            p{
                font-size: 1.2rem !important;
            }
        }
    }
    @media(max-width:558.98px){
        .wrap1a{
            margin:auto;
            padding:1rem !important;
            >h1{
                font-size: 1.4rem !important;
            }
            >p{
                font-size: 1rem !important;
            }
        }              
    }
}
.element2{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap2{
    max-width:1000px;
    h1{
        color:black;
        font-weight: 300;
        border-left: 2px solid #f1ae45;
        padding-left: 0.5rem;
        font-size:3.5rem;
    }
    p{
        color:black;
        font-weight: 300;
        font-size: 1.5rem;
    }
}
@media(max-width:767px){
.wrap2{
    padding-left:2rem;
    padding-right:2rem;
    h1{
        font-size: 2rem !important;
    }
    p{
        font-size: 1.2rem !important;
    }
}
}
@media(max-width:400px){
    .wrap2{
        padding-left:1rem;
        padding-right:1rem;
        h1{
            font-size: 1.2rem !important;
        }
        p{
            font-size: 1.1rem !important;
            line-height: 1.3;
        }
    }
    }
.element3{
    display: flex;
    justify-content: center;
}
.wrap3{
    width:1000px;
    min-height: 600px;
    .elem3Img{
        background: url(images/image7.jpg);
        background-size: cover;
        height: 600px;
    }
    .elem3Text{
        padding:2rem;
        h1{
            border-left: 2px solid #f1ae45;
            padding-left: 1rem;
            font-weight: 300;
            line-height: 1;
            margin-top:4rem;
        }
        p{
            font-weight: 300;
        }
    }
}

@media(max-width:767px){
    .wrap3{
        padding-left:2rem;
        padding-right:2rem;
        .elem3Text{
            padding:1rem;
            h1{
                font-size: 2rem !important;
            }
            p{
                font-size: 1.2rem !important;
            }
        }
    }
}
@media(max-width:400px){
    .wrap3{
        padding-left:1rem;
        padding-right:1rem;
        .elem3Text{
            padding:1rem;
            h1{
                font-size: 1.3rem !important;
            }
            p{
                font-size: 1.1rem !important;
                line-height: 1.3;
            }
        }
    }
}
.element4{
    display: flex;
    justify-content: center;
}
.wrap4{
    width:1000px;
    min-height: 800px;
    
    .elem4Img1{
        background: url(images/image3.jpg);
        background-size: cover;
    }
    .elem4Img2{
        background: url(images/image4.jpg);
        background-size: cover;
    }
    .elem4{
        width:100%;
        height:400px;

    }
    .elem4Bkg{
        background:rgba(241, 175, 69, 0.6);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            border-left: 2px solid #f1ae45;
            padding-left: 1rem;
            margin-left: 1rem;
            font-weight: 300;
            width: 100%;
        }
        p{
            font-weight: 300;
        }
        &.invertText{
            h1{
                text-align: right;
                border-right: 2px solid #f1ae45;
                padding-right: 1rem;
                margin-right: 1rem;
                border-left:unset;
            }
            p{
                text-align: right;
            }
        }

    }
}

.element5{
    min-height:700px;
    display: flex;
    justify-content: center;
    //background-image: linear-gradient(to bottom, #f7cf8f, #f1ae45);
    background-image: url(images/background.svg);
    background-size: cover;
    background-color: #f1ae45;
    background-position: right;
    .wrap5{
        width:1000px;
        .subscribe{
            color:white;
            font-weight: 300;
            padding-top:5rem;
        }
        form{
            padding-top:1rem;
            padding-bottom: 1rem;
            button{
                background:#ddd;
                color:#323232;
            }
        }
        .Iconlinks{
            display: flex;
            justify-content: center;
            div{
                margin:1rem 0.5rem;
            }
            .imgTwitter{
                background: url(images/icon/twitter.svg);
                width:50px;
                height:50px;
            }
            .imgLinkedIn{
                background: url(images/icon/linkedin.svg);
                width:50px;
                height:50px;
            }
            .imgFacebook{
                background: url(images/icon/facebook.svg);
                width:50px;
                height:50px;
            }
        }
        .footerP{
            margin:auto;
        }
    }
    .elem5Bkg{
        padding:1.5rem;
        .card{
            height: 180px;
            border-bottom: 4px solid #5e5e5e;
            h6{
                font-weight: 300;
            }
        }
        .cardImg1{
            background: url(images/icon/contacts.svg);
            width:50px;
            height:50px;
            margin:1rem auto 0rem auto;

        }
        .cardImg2{
            background: url(images/icon/message.svg);
            width:50px;
            height:50px;
            margin:1rem auto 0rem auto;
        }
        .cardImg3{
            background: url(images/icon/phone.svg);
            width:50px;
            height:50px;
            margin:1rem auto 0rem auto;
        }
    }
}